<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><b>Pokemons List</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    placeholder="Search Pokemon"
    (ionChange)="onSearchChange($event)"
  ></ion-searchbar>
  <ion-list *ngIf="pokelist.length === 0">
    <ion-item *ngFor="let i of [1,2,3,4,5]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokelist" [routerLink]="['./',pokemon.id]">
      <ion-avatar slot="start">
        <img [src]="pokemon.imageUrl" />
      </ion-avatar>
      <ion-label>
        <h2>{{pokemon.name}}</h2>
        <p>Id: {{pokemon.id}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadPokemon(true, $event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more Pokemon..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
